{% extends "base.html" %}

{% import "_macros.html" as macros %}


{% block page_content %}
<h1 class="text-center"> all scores </h1>

<br>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th> question id </th>

            <th> question </th>
            <th> category </th>
            <th> choice A </th>
            <th> choice B </th>
            <th> choice C </th>
            <th> choice D </th>
            <th> answer </th>
        </tr>
    </thead>

    <tbody>
        {% for i in quizquestions %}
        <tr>

            <td> {{ i.questionid }} </td>
            
            <td> {{ i.category }} </td>
            <td> {{ i.question }} </td>

            <td> {{ i.option1}} </td>

            <td> {{ i.option2}} </td>
            <td> {{ i.option3}} </td>
            <td> {{ i.option4}} </td>

            <td> {{ i.answer}} </td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
