{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Quiz - {{ user.username }}{% endblock %}
{% block page_content %}

<h3>
{{ check.question }} 

<br>
<ul class="list-unstyled"> 
    <li>    (A) {{check.option1}}  </li>
    <li>    (B) {{check.option2}}  </li>
    <li>    (C) {{check.option3}}  </li>
    <li>    (D) {{check.option4}}  </li>
</ul>
</h3>

<div class="col-md-4">
    <div class="row">
        {{ wtf.quick_form(form, form_type="horizontal") }} 
    </div>
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.check') }}
</div>
{% endif %}
{% endblock %}
