{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block page_content %}

<h2 class="text-center"> FAQs </h2>
    <br>
    <ol>
        <h3> <li> How come I didn't get a confirmation email? </h3> </li>
        Try checking your spam mail. Automated confirmation mails are sent, but some email providers may not accept them or may direct them to your spam folder. You can try signing up with a different email or contacting us directly at <a href="mailto:koreanlevelup@gmail.com"> koreanlevelup@gmail.com </a> and we will help you.
        
        <h3> <li> How do I change my profile picture? </h3> </li>
        Currently, this site only supports gravatars. You can change your gravatar at the <a href="http://gravatar.com"> Gravatar site.</a>

        <h3> <li> How is my payment processed? </h3> </li>
        Payments are processed by <a href="https://stripe.com/"> Stripe </a> @ stripe.com.
        
        <h3> <li> I am having trouble with upgrading my membership. Who should I contact? </h3> </li>
        Please contact us at: <a href="mailto:koreanlevelup@gmail.com"> koreanlevelup@gmail.com </a>
{% endblock %}
