{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block page_content %}

<h2 class="text-center"> FAQs </h2>
    <br>
    <ol>
        <h3> <li> How come I didn't get a confirmation email? </h3> </li>
        Try checking your spam mail. Automated confirmation mails are sent, but some email providers may not accept them or may direct them to your spam folder. You can try signing up with a different email or contacting us directly at <a href="mailto:koreanlevelup@gmail.com"> koreanlevelup@gmail.com </a> and we will help you.
        
        <h3> <li> How do I change my profile picture? </h3> </li>
        Currently, this site only supports gravatars. You can change your gravatar at the <a href="http://gravatar.com"> Gravatar site.</a>

        <h3> <li> How is my payment processed? </h3> </li>
        Payments are processed by <a href="https://stripe.com/"> Stripe </a> @ stripe.com. There are no cancellations or refunds. 
        

        <h3> <li> How long is my account valid? </h3> </li>
        Basic accounts will be supported as long as this site is open. The $2 charge for upgraded accounts is paid as a one-time charge. If you would like to continue your membership after two months, please sign up again and pay the fee again. The fees are used for server hosting and web maintenance.

        <h3> <li> I am having trouble with upgrading my membership. Who should I contact? </h3> </li>
        Please contact us at: <a href="mailto:koreanlevelup@gmail.com"> koreanlevelup@gmail.com </a>

        <h3> <li> Do you have plans for additional vocab. categories? </h3> </li>
        If there is sufficient demand, more may be added. Feel free to contact us at: <a href="mailto:koreanlevelup@gmail.com"> koreanlevelup@gmail.com </a> if you have any requests or suggestions.

        <h3> <li> Is there any fine print? What is your terms of service? </h3> </li>
        We will not share your email or personal information with anyone else. We're commited to keeping the site up as long as there is interest, but are not liable in case there is server downtime or other circumstances. There may be occasional very short periods of downtime during server maintenance. Your data if protected through HTTPS and SSL, but we are not liable for any problems related to stripe payment processing. We try to keep everything as accurate as possible, but can't be held responsible for any errors in the website.

{% endblock %}
