{% extends "base.html" %}

{% import "_macros.html" as mascros %}

{% block page_content %}

<div class="learn">
<h1 class="text-center"> Practice makes perfect. </h1></div>
<br>
<br>

<div id="mainContainer" class="container">
<br>
<br>

<h2 > Free </h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='ball.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.numbers')}}"> Numbers </a></h3></div>
          </div>
        </div>





        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='autumn.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.seasons')}}"> Seasons </a></h3></div>
          </div>
        </div>


      </div>
    </div>

  </div>

<br>
<br>

<h2> Upgraded Membership Required </h2>
<br>
<br>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='jindo1.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.pets')}}"> Pets </a></h3></div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='time.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.timequiz')}}"> Time </a></h3></div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='calendar.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.months')}}"> Months of the Year </a></h3></div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='plane.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.transportation')}}"> Transportation </a></h3></div>
          </div>
        </div>


      </div>
    </div>

  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='weekdays.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.weekdays')}}"> Weekdays </a></h3></div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='apple.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.fruit')}}"> Fruit </a></h3></div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='money.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.money')}}"> Money </a></h3></div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="panel panel-default my_panel">
            <div class="panel-body"><img class="img-responsive" src="{{url_for('static', filename='colors.jpg')}}"/></div>
            <div class="panel-footer"><h3><a href="{{url_for('main.colors')}}"> Colors </a></h3></div>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
