{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %} Koreanlevelup{% endblock %}



{% block page_content %}

    <div class=intro-message>

            {% if current_user.is_authenticated %}
                      <h1 class=text-center> Hello {{ current_user.username }} </h1> <br>

            {% else %} 
                <h1 class=text-center > Physics Quiz App </h1> 
                <h1 class=text-center> Please log in. </h2>
            {% endif %}

</h3>
</div>
    {% if pagination %}
        <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}

{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
